customeraccounts/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="752f905a-4480-45ee-bc60-9c01984da577" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="199972d1-8507-4cbe-9ba2-982a047e87b8" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="customeraccountsFlow" doc:id="5bad3c09-4d55-4f87-b580-d4ccadea3712" >
		<db:select doc:name="Select" doc:id="85fc6348-2bc9-439a-bf57-8019342599a7" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECt *FROM flights_customers]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5eaa929e-2de5-410b-b05c-8808c88e2e44" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID as Number default 0,
	name: payload01.name default "",
	"type": payload01.accountType default "",
	address: ((((payload01.street default "") ++ "," ++ (payload01.city default "")) ++ "," ++ (payload01.state default "")) ++ "," ++ (payload01.postal default "")) ++ "," ++ (payload01.country default ""),
	air_miles: payload01.miles default 0,
	created_at: payload01.creationDate as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="customeraccountsFlowByID" doc:id="f84a5cd2-fc07-49ec-a441-5183624f3189" >
		<db:select doc:name="Select" doc:id="9b35d591-a448-4009-9f07-ab47fe3602e1" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from flights_customers where accountID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ID: vars.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7ff71d83-b402-44f9-a489-5845a65a801d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID as Number default 0,
	name: payload01.name default "",
	"type": payload01.accountType default "",
	address: ((((payload01.street default "") ++ "," ++ (payload01.city default "")) ++ "," ++ (payload01.state default "")) ++ "," ++ (payload01.postal default "")) ++ "," ++ (payload01.country default ""),
	air_miles: payload01.miles default 0,
	created_at: payload01.creationDate as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
